<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SshGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SshGUI.Properties.Settings>
            <setting name="hostnameOrIp" serializeAs="String">
                <value>coreatrade.com</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>core5429</value>
            </setting>
        </SshGUI.Properties.Settings>
    </userSettings>
</configuration>